# Virtual environments
.venv/
env/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE and Editor configurations
.vscode/
.idea/
*.swp
*.swo
*~

# OS artifacts
.DS_Store
Thumbs.db

# Build & packaging
build/
dist/
*.egg-info/